/* CSS STYLE */

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: 1em 'Roboto', sans-serif;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* EASY FUNCTIONS */

.text-left {
  text-align: left;
}

/* HEADER */

header h2 {
  color: white;
  padding-left: 0;
  padding-top: 30px;
  margin: 0;
  font-size: 4em;
  text-align: center;
}

header {
  top: 0px;
  left: 0px;
  background-color: #2960aa;
  width: 100%;
  height: 10%;
}

/* MENU */

#drop-down {
  width: 50px;
  height: 50px;
  background-color: #2960aa;
  margin: 0 auto;
  margin-top: -2px;
}

.fa-angle-down {
  color: white;
  padding-left: 8px;
}

ul {
  list-style: none;
  margin: 0 auto;
}

ul a {
  display: block;
}

nav li {
  width: 100%;
}

.slide-down {
  height: 275px;
}


#side-panel h4 {
  font-size: 2.3em;
  padding-top: 25px;
  display: inline-block;
  text-align: center;
  margin-left: 30px;
}

#side-panel > nav > ul > li:nth-child(1) > div > i {
  margin-left: 40px;
}

#side-panel > nav > ul > li:nth-child(2) > div > i {
  margin-left: 55px;
}

#side-panel > nav > ul > li:nth-child(3) > div > i {
  margin-left: 70px;
}

.sidepanel-button {
  background-color: #EEEEEE;
  display: block;
  height: 91px;
  border-bottom: 1px solid #C8C8C8;
}

.sidepanel-button:hover {
  background-color: #C8C8C8;
}

.sidepanel-icons {
  margin-left: 50px;
}


/* MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  header h2 {
    font-size: 3.7em;
    padding-top: 25px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    header h2 {
      padding-top: 15px;
      font-size: 3.4em;
    }

 }

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* HEADER */

  header h2 {
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0;
    font-size: 2.3em;
    text-align: left;
  }

  header {
    top: 0px;
    left: 0px;
    background-color: #2960aa;
    width: 100%;
    height: 10%;
  }

  /* SIDE PANEL */

  #side-panel {
    background-color: #EEEEEE;
    width: 15%;
    height: 90%;
  }

  #side-panel h4 {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    padding-left: 10px;
    display: inline-block;
    width: 90px;
    text-align: left;
  }

  .fas {
    display: inline-block;
    margin-top: 15px;
    padding-left: 15px;
    font-size: 1.4em !important;
  }

  #side-panel > nav > ul > li:nth-child(1) > div > i {
    margin-left: 0px;
  }

  #side-panel > nav > ul > li:nth-child(2) > div > i {
    margin-left: 0px;
  }

  #side-panel > nav > ul > li:nth-child(3) > div > i {
    margin-left: 0px;
  }

  .sidepanel-button {
    background-color: #EEEEEE;
    height: 55px;
  }

  #drop-down {
    width: 0;
    height: 0;
  }

  #side-panel {
    display: inline-block;
  }

  section {
    display: inline-block;
    top: 0;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /* HEADER */

  header h2 {
    color: white;
    padding-left: 20px;
    padding-top: 15px;
    margin: 0;
    font-size: 3em;
    text-align: left;
  }

  header {
    top: 0px;
    left: 0px;
    background-color: #2960aa;
    width: 100%;
    height: 10%;
  }

  /* SIDE PANEL */

  #side-panel {
    background-color: #EEEEEE;
    width: 15%;
    height: 90%;
  }

  #side-panel h4 {
    padding: 0;
    margin: 0;
    font-size: 1em;
    padding-left: 10px;
    display: inline-block;
    width: 90px;
    text-align: left;
  }

  .fas {
    display: inline-block;
    margin-top: 15px;
    padding-left: 15px;
    font-size: 1.4em !important;
  }

  #side-panel > nav > ul > li:nth-child(1) > div > i {
    margin-left: 0px;
  }

  #side-panel > nav > ul > li:nth-child(2) > div > i {
    margin-left: 0px;
  }

  #side-panel > nav > ul > li:nth-child(3) > div > i {
    margin-left: 0px;
  }

  .sidepanel-button {
    background-color: #EEEEEE;
    height: 55px;
  }

  #drop-down {
    width: 0;
    height: 0;
  }

}
