<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Reset Wachtwoord</title>
    <link rel="stylesheet" type="text/css" href="resetWachtwoord.css">

</head>
<body>
<div id="container">
    <div id="header">
        <h1 class="OnlineAdresboek">OnlineAdresboek</h1>
    </div>
    <div id="main">


        <form action="ResetWachtwoord.php" method="post">

            <h2 class="NieuwWachtwoord">Nieuw Wachtwoord</h2>
            <input size="40" type="password" name="Password">
            <br>

            <h2 class="bevestig">bevestig wachtwoord</h2>
            <input size="40" type="password" name="Password"><br>
            <br>

            <button class="button" type="submit">Reset Wachtwoord</button>

        </form>
    </div>

</div>

</body>
</html>




